<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://mundoconectado.com.br/uploads/chamadas/doutor-estranho-no-multiverso-da-loucura-imagem-reproducao-marvel-studios.jpg" 
        alt="" 
        height="200px"
        srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
            Angular (também conhecido como " Angular 2+ ") [4] é uma estrutura de aplicativo da web baseada em TypeScript , gratuita e de código aberto liderada pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações. Angular é uma reescrita completa da mesma equipe que criou o AngularJS . Angular é uma estrutura de aplicativo de página única usada para criar aplicativos da Web rápidos.
            </a>
        </p>
    </div>
</div>
