<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div calss="container__artcles">
    <div class="articles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>

<hr>
<div calss="container__artcles">
    <div class="articles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>